# Ignore TypeScript source files
*.ts

# Ignore node_modules
node_modules/

# Ignore the dist directory itself, but allow its contents
dist/*
# Allow the main JS file and all type definition files
!dist/index.js
!dist/types/**/*.d.ts